@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    /* overflow-x: hidden; */
}

:root{
    --Primary : #f7d794;
}

.container{
    min-height: 100vh; 
    background-color: var(--Primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: underline;
    transition: text-shadow 0.2s ease-in-out;
}

.link:hover{
    text-shadow: 0 0 0.5px rgba(0, 0, 0);
    text-decoration: none;
}

/*? Landing page */
.click{
    top: 50%;
    left: 50%;
    display: flex;
    padding: 2em 5em;
    position: absolute;
    text-align: center; 
    border-radius: 50px;
    background-color: #f5cd79;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

#click-extra{
    color: transparent;
    transition: 0.5s ease;
}

.click:hover{
    /* background-color: #f5ce79e7; */
    box-shadow: 0 2px 4px rgba(0, 0, 0);
}

.click:hover #click-extra{
    color: rgba(0, 0, 0, 0.426);
}

/* ? Home Page */
.title {
    max-width: 75rem;
    margin: 1rem;
    padding: 2em;
    display: flex;
    margin-top: 3rem;
    border-radius: 10px;
    flex-direction: column;
    background-color: #f5cd79;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title-head{
    font-size: 30px;
}

.title-content{
    margin-top: 1em;

}

.main-content{
    max-width: 75rem;
    margin: 1rem;
    padding: 2em;
    display: flex;
    margin-top: 3rem;
    gap: 0.5rem;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    background-color: #f5cd79;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} 

.back-btn{
    width: 10rem;
    display: flex;
    gap: 50px;
}

/* ? Letters  */
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.wrapper {
    height: 200px;
    width: 300px;
    background-color: #ff9f43;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
    border-top: 100px solid #ff9f43;
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
    border-top: 100px solid #ff9f43;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}

.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #feca57;
    border-bottom: 100px solid #feca57;
    border-left: 150px solid #edbc51;
    z-index: 3;
}

.letter {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    transition: 0.4s;
}

.letter p {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: #3B4049;
}

.wrapper:hover .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.wrapper:hover .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.wrapper:hover .letter {
    transform: translateY(-50px);
    transition-delay: 0.5s;
}

/* ? Letter Content */
.main-letter{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    gap: 1rem;
}

.center{
    display: flex;
    justify-content: space-evenly;
}

.letter-content{
    width: 50rem;
}

.video{
    /* border: outset 1px white; */
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}